.root {
  width: 90%;
  margin: 0 auto;
}

.heading {
  font-size: 25px;
  font-weight: bold;
}

.postContainer {
  /* border-top: 1px solid #000; */
  border-bottom: 1px solid #000;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 20px;
  margin: 20px 0;
}

.date {
  color: #656565;
  margin: 15px 0;
}
