@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Josefin+Sans:ital,wght@1,500&family=Raleway:wght@400;600&display=swap");

.body {
  font-family: "Raleway", sans-serif;
}

.heading {
  font-weight: 600;
  font-size: 40px;
}
