.root {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  padding-top: 5px;
  padding-bottom: 25px;
}

.heading {
  font-size: 20px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin: 0 auto;
}

.icon {
  width: 35px;
  height: 35px;
}
